---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyswarm-data
  namespace: media-services
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
