body {
   font-family: "Google Sans";
   opacity: .8;
   }

.border-theme-300, .border-theme-800 {
   border: 0;
   }

.border-theme-800 {
   margin: 30px 45px 0 35px;
   }

h2 {  
   margin-bottom: -10px;    
   }

.text-left > .flex div .opacity-50 {
   color: #fff !important;
   }

.items-start {
   padding-top: 0;
   }

.h-15 {
   border-radius: 12px;
   margin: 10px 10px 10px 0;
   opacity: .75;
   backdrop-filter: blur(8px) !important;
   background: rgba(255,255,255,.15) !important;    
   }

.text-left.cursor-pointer > .flex div:nth-child(2) {
   margin:5px 5px 5px 0;       
   padding-left: 0 !important;   
   }

img {
   width: 38px; 
   height: 38px;
   margin: 10px;
   position: relative;
   left: 10px !important;
   }

.px-2.flex-1 {
   margin-left: 15px;       
   }

.rounded-l-md {
   padding: 10px !important;       
   }

.grow .text-xl {
   margin-bottom: 10px;
}

#__next .fixed {
   background-image:
   linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.6)),
   url(https://source.unsplash.com/random/?dark+lush+forest&auto=format&fit=crop&w=2560&q=80)
   !important;
   }