---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uptime-kuma-data-samba
  namespace: default
  labels:
    app: uptime-kuma
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: samba-storage
  resources:
    requests:
      storage: 5Gi
