---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mediamanager-postgres-pvc
  namespace: media-services
spec:
  accessModes:
    - ReadWriteOnce     
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
