---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellystat-postgres-data
  namespace: default
  labels:
    app: jellystat
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellystat-backup-data
  namespace: default
  labels:
    app: jellystat
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
